
.card {
    font-size: 1em;
    /* flex-basis: 30%; */
    padding: 1em 2em 1em 2em;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    margin: 15px 5px;
    background-color: #f2f2f2;
    border: 1px solid #dedede;
    width:100%; 
}

h2 {
    margin-top: 40px;
}

.card-container {
    margin:auto;
    width: 75%;

}
.maint-button {
    background-color: #ad4e2b;
    color: white;
    padding: 7px;
    border: none;
    width: 11%;
    border-radius: 10% 10%;
    opacity: 0.9;
    font-size: .9em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:13%;
  }
/* buttons on cards */
.card-btn {
    padding: 3px 20px;
    margin-top: 20px;
    border-radius: 10% 10%;
}

.card-btn:hover,
.maint-button:hover{
    opacity: 1;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
}
.btn-wrapper {
    display: flex;
    justify-content: space-evenly
}

.manual a {
    color: #ad4e2b;
    opacity: 1;
  }
  
  .manual a:hover {
    color: #404040;
  }


  
  .top-link {
   float:right;
    padding:50px;
    color: #ad4e2b;
  }
  
  .top-link:hover {
    color: #404040;
  }