@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&display=swap');
/*Typography
--------------------------------------------------------------*/

body {
	color: #404040;
	font: 1.1em/1.5 'PT Sans', Arial, sans-serif;
}

input, select, textarea {
	color: #404040;
	font-size: 1em;
}

button {
	font-size: .8em;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 2px;
}
.strong{
	font-weight: 600;
}
.background {
    margin-top:50px;
    height: 650px;
    background: linear-gradient(#f2f2f2, transparent 90%),
    linear-gradient(0deg,#f2f2f2, transparent),
    #f2f2f2 url('../icons/background1.jpg') no-repeat center;

background-size: cover;
}