* {box-sizing: border-box;}

body {
    background: #f2f2f2;
    /* font: 1em/1.5 "Helvetica Neue", Helvetica,Arial, sans-serif; */
   
}

.wrapper {
    width: 75%;
    margin: auto;
}

.center {
    text-align: center;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.authentication--icon {
  padding: 10px;
  background: #ad4e2b;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:hover {
  border: 2px solid  #ad4e2b;
}

/* Set a style for the submit button */
.btn {
  background-color: #ad4e2b;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 1.1em;
}
.link {
color: #ad4e2b;
opacity: 0.8;

}

.link:hover,
.btn:hover {
  opacity: 1;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}