* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #ad4e2b;
    color: #f2f2f2;
}

.header {
    height: 350px;
    display: flex;
}

.welcome {
    font-size: 2.5em;
    color: #f2f2f2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .80);
}

.welcome {
    text-align: center;
    margin: auto;
}

.register--btn, .login--btn {
    background-color: #ad4e2b;
    color: white;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: .9;
    font-size: 1.1em;
}

.register--btn:hover, .login--btn:hover {
    opacity: 1;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.welcome--btns {
    width: 30%;
    margin: auto;
}

.register--btn {
    margin-top: 60px;
    margin-bottom: 30px;
}

.link {
    font-size: 1.2em;
}